In [10]:
# Criando lista com for loop

lista = []
for i in range(10000):
    lista.append(i ** 2)

In [13]:
# Criando lista com list comprehension

lista = []
lista = [i**2 for i in range(10000)]

In [14]:
# cria uma lista com todos os valores de 0 a 9 elevados ao quadrado

[x ** 2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
# cria uma lista com a primeira letra de cada fruta

frutas = ['banana', 'uva', 'melancia']
[x[0] for x in frutas]

['b', 'u', 'm']

In [16]:
# cria uma lista com a ultima letra, em maiusculo, de cada fruta

[nome[-1].upper() for nome in frutas]

['A', 'A', 'A']

In [18]:
# criando uma lista com o quadrado de todos numeros PARES de 0 a 9

[num ** 2 for num in range(10) if num % 2 == 0]

[0, 4, 16, 36, 64]

In [19]:
# criando uma lista com pares elevados ao quadrado e 
# impares elevados ao cubo, somente para nÃºmeros de 0 a 9 maiores que 5

[num ** 2 if num % 2 == 0 else num ** 3 for num in range(10) if num > 5]

[36, 343, 64, 729]