### 1. Carregar Informações

In [251]:
# importar biblioteca

import pandas as pd

In [252]:
# Carregando os dados

df = pd.read_csv('fifa19.csv', sep=',', skiprows=None)
df.head()

# Excel:
# xl = pd.ExcelFile(file) # carrega o arquivo
# df = xl.parse('Sheet1') # carrega a aba

# pd.read_csv("df.csv", dtype={"Potential":"int","SlidingTackle":"float64"})

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [253]:
fifa19.tail(3)

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
18204,18204,241638,B. Worman,16,https://cdn.sofifa.org/players/4/19/...,England,https://cdn.sofifa.org/flags/14.png,47,67,Cambridge United,...,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0,€165K
18205,18205,246268,D. Walker-Rice,17,https://cdn.sofifa.org/players/4/19/...,England,https://cdn.sofifa.org/flags/14.png,47,66,Tranmere Rovers,...,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0,€143K
18206,18206,246269,G. Nugent,16,https://cdn.sofifa.org/players/4/19/...,England,https://cdn.sofifa.org/flags/14.png,46,66,Tranmere Rovers,...,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0,€165K

### 2. Informações sobre o dataset

In [254]:
fifa19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                18207 non-null  int64
 1   ID                        18207 non-null  int64
 2   Name                      18207 non-null  object
 3   Age                       18207 non-null  int64
 4   Photo                     18207 non-null  object
 5   Nationality               18207 non-null  object
 6   Flag                      18207 non-null  object
 7   Overall                   18207 non-null  int64
 8   Potential                 18207 non-null  int64
 9   Club                      17966 non-null  object
 10  Club Logo                 18207 non-null  object
 11  Value                     18207 non-null  object
 12  Wage                      18207 non-null  object
 13  Special                   18207 non-null  int64
 14  Preferred Foot            18159 non-null  object
 15  International Reputation  18159 non-null  float64
 16  Weak Foot                 18159 non-null  float64
 17  Skill Moves               18159 non-null  float64
 18  Work Rate                 18159 non-null  object
 19  Body Type                 18159 non-null  object
 20  Real Face                 18159 non-null  object
 21  Position                  18147 non-null  object
 22  Jersey Number             18147 non-null  float64
 23  Joined                    16654 non-null  object
 24  Loaned From               1264 non-null   object
 25  Contract Valid Until      17918 non-null  object
 26  Height                    18159 non-null  object
 27  Weight                    18159 non-null  object
 28  LS                        16122 non-null  object
 29  ST                        16122 non-null  object
 30  RS                        16122 non-null  object
 31  LW                        16122 non-null  object
 32  LF                        16122 non-null  object
 33  CF                        16122 non-null  object
 34  RF                        16122 non-null  object
 35  RW                        16122 non-null  object
 36  LAM                       16122 non-null  object
 37  CAM                       16122 non-null  object
 38  RAM                       16122 non-null  object
 39  LM                        16122 non-null  object
 40  LCM                       16122 non-null  object
 41  CM                        16122 non-null  object
 42  RCM                       16122 non-null  object
 43  RM                        16122 non-null  object
 44  LWB                       16122 non-null  object
 45  LDM                       16122 non-null  object
 46  CDM                       16122 non-null  object
 47  RDM                       16122 non-null  object
 48  RWB                       16122 non-null  object
 49  LB                        16122 non-null  object
 50  LCB                       16122 non-null  object
 51  CB                        16122 non-null  object
 52  RCB                       16122 non-null  object
 53  RB                        16122 non-null  object
 54  Crossing                  18159 non-null  float64
 55  Finishing                 18159 non-null  float64
 56  HeadingAccuracy           18159 non-null  float64
 57  ShortPassing              18159 non-null  float64
 58  Volleys                   18159 non-null  float64
 59  Dribbling                 18159 non-null  float64
 60  Curve                     18159 non-null  float64
 61  FKAccuracy                18159 non-null  float64
 62  LongPassing               18159 non-null  float64
 63  BallControl               18159 non-null  float64
 64  Acceleration              18159 non-null  float64
 65  SprintSpeed               18159 non-null  float64
 66  Agility                   18159 non-null  float64
 67  Reactions                 18159 non-null  float64
 68  Balance                   18159 non-null  float64
 69  ShotPower                 18159 non-null  float64
 70  Jumping                   18159 non-null  float64
 71  Stamina                   18159 non-null  float64
 72  Strength                  18159 non-null  float64
 73  LongShots                 18159 non-null  float64
 74  Aggression                18159 non-null  float64
 75  Interceptions             18159 non-null  float64
 76  Positioning               18159 non-null  float64
 77  Vision                    18159 non-null  float64
 78  Penalties                 18159 non-null  float64
 79  Composure                 18159 non-null  float64
 80  Marking                   18159 non-null  float64
 81  StandingTackle            18159 non-null  float64
 82  SlidingTackle             18159 non-null  float64
 83  GKDiving                  18159 non-null  float64
 84  GKHandling                18159 non-null  float64
 85  GKKicking                 18159 non-null  float64
 86  GKPositioning             18159 non-null  float64
 87  GKReflexes                18159 non-null  float64
 88  Release Clause            16643 non-null  object
dtypes: float64(38), int64(6), object(45)
memory usage: 12.4+ MB

In [255]:
fifa19.shape

(18207, 89)

In [256]:
fifa19.shape[0]

18207

In [257]:
fifa19.shape[1]

89

In [258]:
print("Temos %0.f linhas e %0.f colunas" % (fifa19.shape[0], fifa19.shape[1]))

Temos 18207 linhas e 89 colunas

In [259]:
fifa19.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [260]:
fifa19.columns[1]

'ID'

In [261]:
fifa19.index

RangeIndex(start=0, stop=18207, step=1)

### Se quiser estabelecer uma coluna como índice é só usar set_index, por exemplo:

 - df.set_index('nome da coluna')  para uma coluna
 - df.set_index(['nome da coluna 1', 'nome da coluna 2', 'nome da coluna 3', 'nome da coluna n'])  para várias colunas
 - def.set_index((pd.index))[1,2,3,4...], 'nome do índice') # pra criar um indice novo do zero

In [262]:
display(fifa19.head())
display(fifa19.tail())

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
18202,18202,238813,J. Lundstram,19,https://cdn.sofifa.org/players/4/19/...,England,https://cdn.sofifa.org/flags/14.png,47,65,Crewe Alexandra,...,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0,€143K
18203,18203,243165,N. Christoffersson,19,https://cdn.sofifa.org/players/4/19/...,Sweden,https://cdn.sofifa.org/flags/46.png,47,63,Trelleborgs FF,...,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0,€113K
18204,18204,241638,B. Worman,16,https://cdn.sofifa.org/players/4/19/...,England,https://cdn.sofifa.org/flags/14.png,47,67,Cambridge United,...,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0,€165K
18205,18205,246268,D. Walker-Rice,17,https://cdn.sofifa.org/players/4/19/...,England,https://cdn.sofifa.org/flags/14.png,47,66,Tranmere Rovers,...,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0,€143K
18206,18206,246269,G. Nugent,16,https://cdn.sofifa.org/players/4/19/...,England,https://cdn.sofifa.org/flags/14.png,46,66,Tranmere Rovers,...,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0,€165K

In [263]:
pd.set_option('max_colwidth', 40)
#pd.set_option('max_rows', 100)
#pd.set_option('max_columns', 60)

pd.get_option('max_colwidth')

40

In [264]:
def low_values_red(value):
    color = 'red' if value < 92 else 'black'
    return 'color: %s' %color

fifa19[['Overall', 'Potential']].head(10).style.applymap(low_values_red)

In [265]:
fifa19.head(10).style.applymap(low_values_red, subset = ['Overall', 'Potential'])

In [266]:
def highlight_max(s):
    is_max = s == s.max() # checa esse booleano s == s.max(), e depois guarda em is_max
    return ['background-color: yellow' if v else '' for v in is_max]

fifa19.head(10).style.apply(highlight_max, subset=['Age', 'Overall', 'Potential'])

In [267]:
fifa19[['Overall', 'Potential']].head(10).style.\
applymap(low_values_red).\
apply(highlight_max)

Mais sobre formatação em: https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html

### 3. Filtros e Seleções

In [268]:
fifa19.head(5)

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [269]:
fifa19.loc[1]

Unnamed: 0                                              1
ID                                                  20801
Name                                    Cristiano Ronaldo
Age                                                    33
Photo             https://cdn.sofifa.org/players/4/19/...
                                   ...
GKHandling                                           11.0
GKKicking                                            15.0
GKPositioning                                        14.0
GKReflexes                                           11.0
Release Clause                                    €127.1M
Name: 1, Length: 89, dtype: object

In [270]:
fifa19.loc[0:5]

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
5,5,183277,E. Hazard,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,91,Chelsea,...,91.0,34.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M

In [271]:
fifa19[0:5]

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [272]:
fifa19.loc[0:5, 'Age']

0    31
1    33
2    26
3    27
4    27
5    27
Name: Age, dtype: int64

In [273]:
fifa19.iloc[0:5, 1:4]

       ID               Name  Age
0  158023           L. Messi   31
1   20801  Cristiano Ronaldo   33
2  190871          Neymar Jr   26
3  193080             De Gea   27
4  192985       K. De Bruyne   27

In [274]:
fifa19[0:10]

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
5,5,183277,E. Hazard,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,91,Chelsea,...,91.0,34.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M
6,6,177003,L. Modrić,32,https://cdn.sofifa.org/players/4/19/...,Croatia,https://cdn.sofifa.org/flags/10.png,91,91,Real Madrid,...,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M
7,7,176580,L. Suárez,31,https://cdn.sofifa.org/players/4/19/...,Uruguay,https://cdn.sofifa.org/flags/60.png,91,91,FC Barcelona,...,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M
8,8,155862,Sergio Ramos,32,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,91,Real Madrid,...,82.0,87.0,92.0,91.0,11.0,8.0,9.0,7.0,11.0,€104.6M
9,9,200389,J. Oblak,25,https://cdn.sofifa.org/players/4/19/...,Slovenia,https://cdn.sofifa.org/flags/44.png,90,93,Atlético Madrid,...,70.0,27.0,12.0,18.0,86.0,92.0,78.0,88.0,89.0,€144.5M

In [275]:
 fifa19.loc[(fifa19['Age'] > 30) & (fifa19['Overall'] >= 90)]

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
6,6,177003,L. Modrić,32,https://cdn.sofifa.org/players/4/19/...,Croatia,https://cdn.sofifa.org/flags/10.png,91,91,Real Madrid,...,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M
7,7,176580,L. Suárez,31,https://cdn.sofifa.org/players/4/19/...,Uruguay,https://cdn.sofifa.org/flags/60.png,91,91,FC Barcelona,...,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M
8,8,155862,Sergio Ramos,32,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,91,Real Madrid,...,82.0,87.0,92.0,91.0,11.0,8.0,9.0,7.0,11.0,€104.6M
12,12,182493,D. Godín,32,https://cdn.sofifa.org/players/4/19/...,Uruguay,https://cdn.sofifa.org/flags/60.png,90,90,Atlético Madrid,...,82.0,90.0,89.0,89.0,6.0,8.0,15.0,5.0,15.0,€90.2M
13,13,168542,David Silva,32,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,90,90,Manchester City,...,93.0,59.0,53.0,29.0,6.0,15.0,7.0,6.0,12.0,€111M

In [276]:
tiozoes_do_fifa = fifa19.query("Age > 30")
tiozoes_do_fifa.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
6,6,177003,L. Modrić,32,https://cdn.sofifa.org/players/4/19/...,Croatia,https://cdn.sofifa.org/flags/10.png,91,91,Real Madrid,...,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M
7,7,176580,L. Suárez,31,https://cdn.sofifa.org/players/4/19/...,Uruguay,https://cdn.sofifa.org/flags/60.png,91,91,FC Barcelona,...,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M
8,8,155862,Sergio Ramos,32,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,91,Real Madrid,...,82.0,87.0,92.0,91.0,11.0,8.0,9.0,7.0,11.0,€104.6M

In [277]:
fifa19[fifa19['Age']>30]

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
6,6,177003,L. Modrić,32,https://cdn.sofifa.org/players/4/19/...,Croatia,https://cdn.sofifa.org/flags/10.png,91,91,Real Madrid,...,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M
7,7,176580,L. Suárez,31,https://cdn.sofifa.org/players/4/19/...,Uruguay,https://cdn.sofifa.org/flags/60.png,91,91,FC Barcelona,...,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M
8,8,155862,Sergio Ramos,32,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,91,Real Madrid,...,82.0,87.0,92.0,91.0,11.0,8.0,9.0,7.0,11.0,€104.6M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17842,17842,182461,Zhou Ting,39,https://cdn.sofifa.org/players/4/19/...,China PR,https://cdn.sofifa.org/flags/155.png,52,52,Dalian YiFang FC,...,52.0,17.0,45.0,44.0,10.0,12.0,7.0,15.0,6.0,€22K
17866,17866,232676,N. Hatta,32,https://cdn.sofifa.org/players/4/19/...,Japan,https://cdn.sofifa.org/flags/163.png,52,52,Júbilo Iwata,...,24.0,30.0,12.0,13.0,54.0,48.0,45.0,52.0,54.0,€38K
18043,18043,237917,A. Suzuki,31,https://cdn.sofifa.org/players/4/19/...,Japan,https://cdn.sofifa.org/flags/163.png,50,50,Yokohama F. Marinos,...,31.0,13.0,10.0,14.0,49.0,48.0,54.0,52.0,54.0,€25K
18171,18171,237746,Y. Uchimura,33,https://cdn.sofifa.org/players/4/19/...,Japan,https://cdn.sofifa.org/flags/163.png,48,48,Hokkaido Consadole Sapporo,...,62.0,45.0,48.0,42.0,13.0,15.0,7.0,15.0,15.0,€25K
18183,18183,53748,K. Pilkington,44,https://cdn.sofifa.org/players/4/19/...,England,https://cdn.sofifa.org/flags/14.png,48,48,Cambridge United,...,56.0,15.0,15.0,13.0,45.0,48.0,44.0,49.0,46.0,NaN

In [278]:
fifa19[fifa19['International Reputation'] == fifa19['Skill Moves']]

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
5,5,183277,E. Hazard,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,91,Chelsea,...,91.0,34.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M
6,6,177003,L. Modrić,32,https://cdn.sofifa.org/players/4/19/...,Croatia,https://cdn.sofifa.org/flags/10.png,91,91,Real Madrid,...,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18178,18178,243158,L. Wahlstedt,18,https://cdn.sofifa.org/players/4/19/...,Sweden,https://cdn.sofifa.org/flags/46.png,48,65,Dalkurd FF,...,28.0,16.0,11.0,10.0,47.0,46.0,50.0,45.0,51.0,€94K
18180,18180,221669,M. Hurst,22,https://cdn.sofifa.org/players/4/19/...,Scotland,https://cdn.sofifa.org/flags/42.png,48,58,St. Johnstone FC,...,28.0,12.0,15.0,16.0,45.0,49.0,50.0,50.0,45.0,€78K
18183,18183,53748,K. Pilkington,44,https://cdn.sofifa.org/players/4/19/...,England,https://cdn.sofifa.org/flags/14.png,48,48,Cambridge United,...,56.0,15.0,15.0,13.0,45.0,48.0,44.0,49.0,46.0,NaN
18194,18194,245862,J. Milli,18,https://cdn.sofifa.org/players/4/19/...,Italy,https://cdn.sofifa.org/flags/27.png,47,65,Lecce,...,23.0,6.0,10.0,11.0,52.0,52.0,52.0,40.0,44.0,€109K
18198,18198,242844,J. Livesey,18,https://cdn.sofifa.org/players/4/19/...,England,https://cdn.sofifa.org/flags/14.png,47,70,Burton Albion,...,34.0,15.0,11.0,13.0,46.0,52.0,58.0,42.0,48.0,€165K

In [279]:
fifa19.filter(['Age', 'ID', 'Name'])

       Age      ID                Name
0       31  158023            L. Messi
1       33   20801   Cristiano Ronaldo
2       26  190871           Neymar Jr
3       27  193080              De Gea
4       27  192985        K. De Bruyne
...    ...     ...                 ...
18202   19  238813        J. Lundstram
18203   19  243165  N. Christoffersson
18204   16  241638           B. Worman
18205   17  246268      D. Walker-Rice
18206   16  246269           G. Nugent

[18207 rows x 3 columns]

In [280]:
overall_median = fifa19['Overall'].median()
fifa19.query("Overall > @overall_median")

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8759,8759,224509,U. Rivas,22,https://cdn.sofifa.org/players/4/19/...,Mexico,https://cdn.sofifa.org/flags/83.png,67,73,Santos Laguna,...,60.0,57.0,66.0,61.0,6.0,15.0,14.0,8.0,13.0,€2M
8760,8760,214014,C. Lizarazo,27,https://cdn.sofifa.org/players/4/19/...,Colombia,https://cdn.sofifa.org/flags/56.png,67,67,América de Cali,...,63.0,54.0,40.0,28.0,12.0,11.0,13.0,8.0,7.0,€1.1M
8761,8761,104702,D. Braaten,36,https://cdn.sofifa.org/players/4/19/...,Norway,https://cdn.sofifa.org/flags/36.png,67,67,SK Brann,...,78.0,45.0,54.0,55.0,9.0,15.0,7.0,8.0,16.0,€325K
8762,8762,229631,Lazo,22,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,67,75,CD Lugo,...,45.0,45.0,33.0,31.0,11.0,7.0,9.0,11.0,6.0,NaN
8763,8763,246015,L. Mago,23,https://cdn.sofifa.org/players/4/19/...,Venezuela,https://cdn.sofifa.org/flags/61.png,67,73,NaN,...,52.0,66.0,68.0,67.0,12.0,14.0,9.0,8.0,12.0,NaN

In [281]:
df_champs = fifa19[fifa19['Nationality'].isin(['Argentina', 'Brazil', 'Germany', 'France', 'Italy', 'England'])]
df_champs.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
11,11,182521,T. Kroos,28,https://cdn.sofifa.org/players/4/19/...,Germany,https://cdn.sofifa.org/flags/21.png,90,90,Real Madrid,...,85.0,72.0,79.0,69.0,10.0,11.0,13.0,7.0,10.0,€156.8M
14,14,215914,N. Kanté,27,https://cdn.sofifa.org/players/4/19/...,France,https://cdn.sofifa.org/flags/18.png,89,90,Chelsea,...,85.0,90.0,91.0,85.0,15.0,12.0,10.0,7.0,10.0,€121.3M
15,15,211110,P. Dybala,24,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,89,94,Juventus,...,84.0,23.0,20.0,20.0,5.0,4.0,4.0,5.0,8.0,€153.5M

In [282]:
df_no_champs = fifa19[~fifa19['Nationality'].isin(['Argentina', 'Brazil', 'Germany', 'France', 'Italy', 'England'])]
df_no_champs.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
5,5,183277,E. Hazard,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,91,Chelsea,...,91.0,34.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M
6,6,177003,L. Modrić,32,https://cdn.sofifa.org/players/4/19/...,Croatia,https://cdn.sofifa.org/flags/10.png,91,91,Real Madrid,...,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M

In [283]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
fifa19_numerics = fifa19.select_dtypes(include = numerics)
fifa19_numerics.head()

,Unnamed: 0,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,158023,31,94,94,2202,5.0,4.0,4.0,10.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,1,20801,33,94,94,2228,5.0,4.0,5.0,7.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,2,190871,26,92,93,2143,5.0,5.0,5.0,10.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,3,193080,27,91,93,1471,4.0,3.0,1.0,1.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,4,192985,27,91,92,2281,4.0,5.0,4.0,7.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [284]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
fifa19_non_numerics = fifa19.select_dtypes(exclude = numerics)
fifa19_non_numerics.head()

,Name,Photo,Nationality,Flag,Club,Club Logo,Value,Wage,Preferred Foot,Work Rate,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,Release Clause
0,L. Messi,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,FC Barcelona,https://cdn.sofifa.org/teams/2/light...,€110.5M,€565K,Left,Medium/ Medium,...,61+2,61+2,61+2,64+2,59+2,47+2,47+2,47+2,59+2,€226.5M
1,Cristiano Ronaldo,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,Juventus,https://cdn.sofifa.org/teams/2/light...,€77M,€405K,Right,High/ Low,...,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3,€127.1M
2,Neymar Jr,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,Paris Saint-Germain,https://cdn.sofifa.org/teams/2/light...,€118.5M,€290K,Right,High/ Medium,...,60+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3,€228.1M
3,De Gea,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,Manchester United,https://cdn.sofifa.org/teams/2/light...,€72M,€260K,Right,Medium/ Medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,€138.6M
4,K. De Bruyne,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,Manchester City,https://cdn.sofifa.org/teams/2/light...,€102M,€355K,Right,High/ High,...,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3,€196.4M

In [285]:
fifa19.sort_values(by = 'Overall', ascending= False).head(10)

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
5,5,183277,E. Hazard,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,91,Chelsea,...,91.0,34.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M
6,6,177003,L. Modrić,32,https://cdn.sofifa.org/players/4/19/...,Croatia,https://cdn.sofifa.org/flags/10.png,91,91,Real Madrid,...,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M
7,7,176580,L. Suárez,31,https://cdn.sofifa.org/players/4/19/...,Uruguay,https://cdn.sofifa.org/flags/60.png,91,91,FC Barcelona,...,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M
8,8,155862,Sergio Ramos,32,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,91,Real Madrid,...,82.0,87.0,92.0,91.0,11.0,8.0,9.0,7.0,11.0,€104.6M
12,12,182493,D. Godín,32,https://cdn.sofifa.org/players/4/19/...,Uruguay,https://cdn.sofifa.org/flags/60.png,90,90,Atlético Madrid,...,82.0,90.0,89.0,89.0,6.0,8.0,15.0,5.0,15.0,€90.2M

In [286]:
fifa19.drop_duplicates()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,18202,238813,J. Lundstram,19,https://cdn.sofifa.org/players/4/19/...,England,https://cdn.sofifa.org/flags/14.png,47,65,Crewe Alexandra,...,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0,€143K
18203,18203,243165,N. Christoffersson,19,https://cdn.sofifa.org/players/4/19/...,Sweden,https://cdn.sofifa.org/flags/46.png,47,63,Trelleborgs FF,...,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0,€113K
18204,18204,241638,B. Worman,16,https://cdn.sofifa.org/players/4/19/...,England,https://cdn.sofifa.org/flags/14.png,47,67,Cambridge United,...,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0,€165K
18205,18205,246268,D. Walker-Rice,17,https://cdn.sofifa.org/players/4/19/...,England,https://cdn.sofifa.org/flags/14.png,47,66,Tranmere Rovers,...,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0,€143K
18206,18206,246269,G. Nugent,16,https://cdn.sofifa.org/players/4/19/...,England,https://cdn.sofifa.org/flags/14.png,46,66,Tranmere Rovers,...,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0,€165K

### Estatística Descritiva

In [287]:
fifa19.describe()

,Unnamed: 0,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18207.000000,18159.000000,18159.000000,18159.000000,18147.000000,...,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000
mean,9103.000000,214298.338606,25.122206,66.238699,71.307299,1597.809908,1.113222,2.947299,2.361308,19.546096,...,48.548598,58.648274,47.281623,47.697836,45.661435,16.616223,16.391596,16.232061,16.388898,16.710887
std,5256.052511,29965.244204,4.669943,6.908930,6.136496,272.586016,0.394031,0.660456,0.756164,15.947765,...,15.704053,11.436133,19.904397,21.664004,21.289135,17.695349,16.906900,16.502864,17.034669,17.955119
min,0.000000,16.000000,16.000000,46.000000,48.000000,731.000000,1.000000,1.000000,1.000000,1.000000,...,5.000000,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4551.500000,200315.500000,21.000000,62.000000,67.000000,1457.000000,1.000000,3.000000,2.000000,8.000000,...,39.000000,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,9103.000000,221759.000000,25.000000,66.000000,71.000000,1635.000000,1.000000,3.000000,2.000000,17.000000,...,49.000000,60.000000,53.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,13654.500000,236529.500000,28.000000,71.000000,75.000000,1787.000000,1.000000,3.000000,3.000000,26.000000,...,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,18206.000000,246620.000000,45.000000,94.000000,95.000000,2346.000000,5.000000,5.000000,5.000000,99.000000,...,92.000000,96.000000,94.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [288]:
fifa19['Age'].describe(percentiles=[0.1, 0.2, 0.8, 0.99])

count    18207.000000
mean        25.122206
std          4.669943
min         16.000000
10%         19.000000
20%         21.000000
50%         25.000000
80%         29.000000
99%         36.000000
max         45.000000
Name: Age, dtype: float64

In [289]:
fifa19.agg({'Age': ['min', 'max', 'skew', 'median'],
            'Overall':['mean', 'min']})

              Age    Overall
min     16.000000  46.000000
max     45.000000        NaN
skew     0.391764        NaN
median  25.000000        NaN
mean          NaN  66.238699

In [290]:
df_champs.groupby(fifa19['Nationality'])[['Age', 'Overall']].mean().sort_values(by = 'Overall', ascending= False)

                   Age    Overall
Nationality
Brazil       27.625151  71.251511
Argentina    26.205977  68.572038
Italy        25.928775  68.158120
France       24.615974  67.798687
Germany      24.338063  66.086811
England      24.030084  63.429603

In [291]:
import numpy as np 

pd.pivot_table(df_champs, index = ['Nationality'], values=fifa19_numerics, aggfunc=np.mean)

,Acceleration,Age,Aggression,Agility,Balance,BallControl,Composure,Crossing,Curve,Dribbling,...,SlidingTackle,Special,SprintSpeed,Stamina,StandingTackle,Strength,Unnamed: 0,Vision,Volleys,Weak Foot
Nationality,,,,,,,,,,,,,,,,,,,,,
Argentina,64.625000,26.205977,56.725427,64.193376,64.376068,60.808761,60.452991,51.319444,48.883547,58.068376,...,46.340812,1639.410886,64.318376,64.162393,47.970085,65.561966,7285.958378,54.862179,44.863248,2.870726
Brazil,66.318788,27.625151,59.972121,65.201212,63.966061,63.841212,65.241212,54.699394,53.403636,60.850909,...,48.981818,1712.134220,66.701818,65.675152,51.284848,67.263030,5141.252721,58.113939,49.918788,2.945455
England,64.945081,24.030084,54.275196,63.372963,64.732649,56.073024,56.153893,47.249849,44.498491,53.234762,...,44.164756,1549.137184,64.773084,62.920941,46.067592,64.068799,11283.274368,51.326494,40.585395,2.894387
France,64.524698,24.615974,56.958288,62.819978,63.919868,59.787047,60.586169,51.739846,47.963776,56.736553,...,48.156970,1624.257112,64.714599,62.648738,50.047201,66.480790,8075.863239,54.236004,43.468716,2.915477
Germany,63.287029,24.338063,55.931381,62.354812,61.830126,56.675314,56.370711,48.337238,45.133054,53.167364,...,45.204184,1566.782972,63.690377,62.600000,47.620084,66.953975,9392.902337,51.120502,41.038494,3.133891
Italy,63.167382,25.928775,55.429185,63.065808,62.858369,59.224607,62.530758,49.763948,47.859800,55.350501,...,46.669528,1604.572650,63.341917,62.426323,48.359084,65.114449,7621.792023,51.652361,44.390558,2.846924

In [292]:
pd.pivot_table(df_champs, index = ['Nationality'], values = ['Age', 'Overall', 'Potential'], aggfunc=np.mean)

                   Age    Overall  Potential
Nationality
Argentina    26.205977  68.572038  73.210245
Brazil       27.625151  71.251511  73.351874
England      24.030084  63.429603  70.037304
France       24.615974  67.798687  73.447484
Germany      24.338063  66.086811  71.699499
Italy        25.928775  68.158120  72.690883

In [293]:
fifa19.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [297]:
pd.pivot_table(df_champs, index = ['Nationality', 'Position'], columns = ['Club'], values = ['Age', 'Overall', 'Value'], aggfunc=np.mean)

TypeError: Could not convert €4M to numeric

In [298]:
df_champs.Nationality.value_counts()

Nationality
England      1662
Germany      1198
Argentina     937
France        914
Brazil        827
Italy         702
Name: count, dtype: int64

In [299]:
df_champs.Nationality.value_counts(normalize=True)

Nationality
England      0.266346
Germany      0.191987
Argentina    0.150160
France       0.146474
Brazil       0.132532
Italy        0.112500
Name: proportion, dtype: float64

In [300]:
df_champs.groupby('Club')['Nationality'].value_counts()

Club                   Nationality
 SSV Jahn Regensburg   Germany        22
1. FC Heidenheim 1846  Germany        27
1. FC Kaiserslautern   Germany        21
1. FC Köln             Germany        20
                       France          2
                                      ..
Çaykur Rizespor        Italy           1
                       France          1
                       Brazil          1
Örebro SK              Brazil          1
Östersunds FK          England         5
Name: count, Length: 988, dtype: int64

In [301]:
df_champs.groupby('Nationality')['Position'].value_counts()

Nationality  Position
Argentina    ST          125
             CB           99
             GK           97
             LM           64
             RM           62
                        ...
Italy        RDM           4
             RWB           2
             LWB           1
             RF            1
             LDM           1
Name: count, Length: 145, dtype: int64

### SQL no Pandas

In [302]:
# off-topic: como melhorar o desempenho
# pip install modin
import modin.pandas as pd

ModuleNotFoundError: No module named 'modin'

In [303]:
import pandasql as ps

In [304]:
query = """
    select ID, Age, Name from fifa19 where Age > 33
"""

In [305]:
ps.sqldf(query, locals())

         ID  Age            Name
0      1179   40       G. Buffon
1        41   34         Iniesta
2    171919   35           Naldo
3    120533   35            Pepe
4     41236   36  Z. Ibrahimović
..      ...  ...             ...
888  244440   36     F. Nicastro
889   51963   44       T. Warner
890  100899   40     S. Phillips
891  182461   39       Zhou Ting
892   53748   44   K. Pilkington

[893 rows x 3 columns]

## Missing e Alterações / Criações de Campos

In [306]:
df_null = df[['ID', 'Name', 'LCB', 'LB']].head(10)
df_null

       ID               Name   LCB    LB
0  158023           L. Messi  47+2  59+2
1   20801  Cristiano Ronaldo  53+3  61+3
2  190871          Neymar Jr  47+3  60+3
3  193080             De Gea   NaN   NaN
4  192985       K. De Bruyne  66+3  73+3
5  183277          E. Hazard  49+3  60+3
6  177003          L. Modrić  71+3  79+3
7  176580          L. Suárez  63+5  66+5
8  155862       Sergio Ramos  87+3  84+3
9  200389           J. Oblak   NaN   NaN

In [307]:
df_null.isna()

      ID   Name    LCB     LB
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True   True
4  False  False  False  False
5  False  False  False  False
6  False  False  False  False
7  False  False  False  False
8  False  False  False  False
9  False  False   True   True

In [308]:
df_null.isna().sum()

ID      0
Name    0
LCB     2
LB      2
dtype: int64

In [309]:
df_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      10 non-null     int64
 1   Name    10 non-null     object
 2   LCB     8 non-null      object
 3   LB      8 non-null      object
dtypes: int64(1), object(3)
memory usage: 448.0+ bytes

In [310]:
df_null[pd.isna(df_null['LCB'])] # filtrar linhas com campo LCB missing

       ID      Name  LCB   LB
3  193080    De Gea  NaN  NaN
9  200389  J. Oblak  NaN  NaN

In [311]:
df_null[df_null['LCB'].notna()] # filtra quem nao tem LCB missing

       ID               Name   LCB    LB
0  158023           L. Messi  47+2  59+2
1   20801  Cristiano Ronaldo  53+3  61+3
2  190871          Neymar Jr  47+3  60+3
4  192985       K. De Bruyne  66+3  73+3
5  183277          E. Hazard  49+3  60+3
6  177003          L. Modrić  71+3  79+3
7  176580          L. Suárez  63+5  66+5
8  155862       Sergio Ramos  87+3  84+3

In [312]:
df_null.fillna('0')

       ID               Name   LCB    LB
0  158023           L. Messi  47+2  59+2
1   20801  Cristiano Ronaldo  53+3  61+3
2  190871          Neymar Jr  47+3  60+3
3  193080             De Gea     0     0
4  192985       K. De Bruyne  66+3  73+3
5  183277          E. Hazard  49+3  60+3
6  177003          L. Modrić  71+3  79+3
7  176580          L. Suárez  63+5  66+5
8  155862       Sergio Ramos  87+3  84+3
9  200389           J. Oblak     0     0

In [325]:
# Se estiver numerico, preencher com média:
# df_null.fillna(df_null.mean(), inplace = True)
df_null.fillna(df_null.mean(), inplace = True)

TypeError: can only concatenate str (not "int") to str

In [317]:
df_null.fillna('0')

       ID               Name   LCB    LB
0  158023           L. Messi  47+2  59+2
1   20801  Cristiano Ronaldo  53+3  61+3
2  190871          Neymar Jr  47+3  60+3
3  193080             De Gea     0     0
4  192985       K. De Bruyne  66+3  73+3
5  183277          E. Hazard  49+3  60+3
6  177003          L. Modrić  71+3  79+3
7  176580          L. Suárez  63+5  66+5
8  155862       Sergio Ramos  87+3  84+3
9  200389           J. Oblak     0     0

In [321]:
values= {'LCB':'0', 'LB': '999999'}
df_null.fillna(value = values)

       ID               Name   LCB      LB
0  158023           L. Messi  47+2    59+2
1   20801  Cristiano Ronaldo  53+3    61+3
2  190871          Neymar Jr  47+3    60+3
3  193080             De Gea     0  999999
4  192985       K. De Bruyne  66+3    73+3
5  183277          E. Hazard  49+3    60+3
6  177003          L. Modrić  71+3    79+3
7  176580          L. Suárez  63+5    66+5
8  155862       Sergio Ramos  87+3    84+3
9  200389           J. Oblak     0  999999

In [322]:
df_null.dropna()

       ID               Name   LCB    LB
0  158023           L. Messi  47+2  59+2
1   20801  Cristiano Ronaldo  53+3  61+3
2  190871          Neymar Jr  47+3  60+3
4  192985       K. De Bruyne  66+3  73+3
5  183277          E. Hazard  49+3  60+3
6  177003          L. Modrić  71+3  79+3
7  176580          L. Suárez  63+5  66+5
8  155862       Sergio Ramos  87+3  84+3

In [324]:
df_null.dropna(subset = ['LCB']) # exclui missing somente de quem está no subset

       ID               Name   LCB    LB
0  158023           L. Messi  47+2  59+2
1   20801  Cristiano Ronaldo  53+3  61+3
2  190871          Neymar Jr  47+3  60+3
4  192985       K. De Bruyne  66+3  73+3
5  183277          E. Hazard  49+3  60+3
6  177003          L. Modrić  71+3  79+3
7  176580          L. Suárez  63+5  66+5
8  155862       Sergio Ramos  87+3  84+3

In [326]:
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [327]:
df['Weight'].head()

0    159lbs
1    183lbs
2    150lbs
3    168lbs
4    154lbs
Name: Weight, dtype: object

In [329]:
df['Weight'].fillna('0lbs', inplace=True)

In [330]:
teste = df['Weight'].head()
teste[1].replace('lbs', '')

'183'

In [332]:
def substitui_lbs(value):
    """ funcao para tratar campo peso """
    x = value.replace('lbs', '')
    return int(x)

df['Weight_New'] = df['Weight'].apply(substitui_lbs)
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Weight_New
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,159
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,183
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,150
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,168
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,154

In [335]:
df[['Weight_New']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Weight_New  18207 non-null  int64
dtypes: int64(1)
memory usage: 142.4 KB

In [337]:
# Convertendo campo salário

def converte_wage(value):
    value_2 = value.replace('€', '')
    if 'M' in value_2:
        value_2 = value_2.replace('M', '')
        return float(value_2)*1000000
    elif 'K' in value_2:
        value_2 = value_2.replace('K', '')
        return float(value_2) * 1000
    
df['Wage_Numeric'] = df['Wage'].apply(converte_wage)
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Weight_New,Wage_Numeric
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,159,565000.0
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,183,405000.0
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,150,290000.0
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,168,260000.0
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,154,355000.0

In [340]:
df['avg_GK'] = (df['GKDiving'] + df['GKHandling'] + df['GKKicking'] + df['GKPositioning'] + df['GKReflexes']) / 5
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Weight_New,Wage_Numeric,avg_GK
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,159,565000.0,10.8
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,183,405000.0,11.6
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,150,290000.0,11.8
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,168,260000.0,88.8
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,154,355000.0,11.2

In [341]:
df['Age_Class'] = np.where(df['Age'] > 30, 'Old', 'Young')
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Weight_New,Wage_Numeric,avg_GK,Age_Class
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,6.0,11.0,15.0,14.0,8.0,€226.5M,159,565000.0,10.8,Old
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,7.0,11.0,15.0,14.0,11.0,€127.1M,183,405000.0,11.6,Old
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,9.0,9.0,15.0,15.0,11.0,€228.1M,150,290000.0,11.8,Young
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,90.0,85.0,87.0,88.0,94.0,€138.6M,168,260000.0,88.8,Young
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,15.0,13.0,5.0,10.0,13.0,€196.4M,154,355000.0,11.2,Young

In [342]:
df['Age_Class2'] = 'Young'
df.loc[df['Age'] > 30, 'Age_Class'] = 'Old'
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,Weight_New,Wage_Numeric,avg_GK,Age_Class,Age_Class2
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/...,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,11.0,15.0,14.0,8.0,€226.5M,159,565000.0,10.8,Old,Young
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/...,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,11.0,15.0,14.0,11.0,€127.1M,183,405000.0,11.6,Old,Young
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/...,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,9.0,15.0,15.0,11.0,€228.1M,150,290000.0,11.8,Young,Young
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/...,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,85.0,87.0,88.0,94.0,€138.6M,168,260000.0,88.8,Young,Young
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/...,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,13.0,5.0,10.0,13.0,€196.4M,154,355000.0,11.2,Young,Young

## Extras

In [344]:
# Criar dataframe a partir de clipboard. Simplesmente copie a tabela e faça:

df_clipboard = pd.read_clipboard()

PyperclipException:
    Pyperclip could not find a copy/paste mechanism for your system.
    For more information, please visit
    https://pyperclip.readthedocs.io/en/latest/#not-implemented-error

In [348]:
# usar dados dummies para treinar modelos 

pd.util.testing.makeDataFrame()

AttributeError: module 'pandas.util' has no attribute 'test'

In [ ]:
# ler csv

#df = pd.read_csv()
df.to_csv('fifa19_example.csv', sep = ';', decimal = ',')