In [14]:
import numpy as np
import pandas as pd
house = pd.read_csv('datasets/california_housing_train.csv',
                    dtype={
                        'total_rooms': np.dtype('int64'),
                        'total_bedrooms': np.dtype('int32'),
                        'population': np.dtype('int32')
                    })
house.info()

In [15]:
house = pd.read_csv('datasets/california_housing_train.csv', usecols=['housing_median_age', 'total_rooms', 'total_bedrooms'])
house.head()

In [16]:
data['cat_column'] = data.cat_column.astype('category')

NameError: name 'data' is not defined

In [ ]:
# Importando em pedaços de 1 milhão de linhas
chunk = pd.read_csv('huge_data.csv', chunksize=1000000)
df = pd.concat(chunk)

In [ ]:
import pandas as pd

house = pd.read_csv('datasets/california_housing_train.csv',
                    usecols = ['housing_median_age', 'total_rooms', 'total_bedrooms'],
                    nrows = 300)

house.shape

In [17]:
from dtype_diet import report_on_dataframe
import pandas as pd

house = pd.read_csv('datasets/california_housing_train.csv')
report_on_dataframe(house)

,Current dtype,Proposed dtype,Current Memory (MB),Proposed Memory (MB),Ram Usage Improvement (MB),Ram Usage Improvement (%)
Column,,,,,,
longitude,float64,None,66.46875,NaN,NaN,NaN
latitude,float64,None,66.46875,NaN,NaN,NaN
housing_median_age,float64,float16,66.46875,16.664062,49.804688,74.929478
total_rooms,float64,float32,66.46875,33.265625,33.203125,49.952985
total_bedrooms,float64,float32,66.46875,33.265625,33.203125,49.952985
population,float64,float32,66.46875,33.265625,33.203125,49.952985
households,float64,float32,66.46875,33.265625,33.203125,49.952985
median_income,float64,None,66.46875,NaN,NaN,NaN
median_house_value,float64,float32,66.46875,33.265625,33.203125,49.952985

In [18]:
house['housing_median_age'] = house['housing_median_age'].astype('float16')
house['total_rooms'] = house['total_rooms'].astype('float32')

In [20]:
# Importamos a função desejada
from dtype_diet import optimize_dtypes

# Salvamos os tipos que queremos num novo objeto
optimized_df = report_on_dataframe(house, unit='MB')

# Utilizamos a otimização para transformar as colunas de house nas colunas de proposed_df
house_optimized = optimize_dtypes(house, optimized_df)

# Vamos verificar a diferença de consumo de memória
print(f'Original df memory: {house.memory_usage(deep = True).sum()/1024/1024} MB')
print(f'Proposed df memory: {house_optimized.memory_usage(deep=True).sum()/1024/1024} MB')

Original df memory: 1.0052947998046875 MB
Proposed df memory: 0.7458953857421875 MB

In [21]:
import modin.pandas as pd
df = pd.read_csv('datasets/california_housing_train.csv')

UserWarning: The pandas version installed (2.0.2) does not match the supported pandas version in Modin (1.5.3). This may cause undesired side effects!

ImportError: cannot import name 'Int64Index' from 'pandas' (/home/rafaporfirio/.local/lib/python3.10/site-packages/pandas/__init__.py)